
@model IEnumerable<string>

<a class="btn btn-block btn-outline-dark @(ViewBag.SelectedCategory == null ? "btn-primary" : "btn-muted")" 
  asp-action="List" asp-controller="Product" asp-route-category="">
  Home</a>



@foreach (string category in Model)
{
  <a class="btn btn-block btn-muted btn-outline-dark
    @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-muted")"
     asp-action="List" asp-controller="Product"
     asp-route-category="@category" asp-route-productPage="1">
    @category
  </a>
}
